<!DOCTYPE html>
<html>
<head>
	<title>Koto Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../style/templeStyle.css">
    <link rel="stylesheet" type="text/css" href="../style/galleryStyle.css">

</head>
<body>

    <div id="logo">
        <img src="../images/png/logo_page_1.png" />
    </div>

	<div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>

            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
              <li class="presentation"><a href="../index.html">Home</a></li>
              <li class="presentation"><a href="Menu.html">Menu</a></li>
              <li class="presentation"><a href="OrderOnline.html">Order Online</a></li>
              <li class="presentation"><a href="Contact.html">Contact</a></li>
            </ul>
          </div>

        </div>
      </nav>  
    </div>

    <div class="container">
    	<div id="images" class="row">
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/CK_General_Tso_s_Chicken_7.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/cocktails01_blur.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Fried_Rice_8_Lg.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/green-curry.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/New_Western_Dish_66.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Roasted2style2.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Sushi-combo_sm.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Sushi_180.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Sushi_184.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Sushi_192_2.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Sushi_90.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Sushi_Sashimi_Combo_15.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Sushi_Sashimi_Combo_21.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/SweetSour_4.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Tempura_21.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Teriyaki_Chicken_04CLIP.png">
    		</div>
    		
    		<div class="col-xs-12 col-sm-6 col-md-4 pop">
    			<img src="../images/png/Yellowtail_Jalapeno4.jpg">
    		</div>
    	</div>
    </div>


    <footer>
      <div class="container">
        <h4>All Rights Reserved, Tim Lin</h4>
      </div>
    </footer>
    

	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">              
	      <div class="modal-body">
	      	<button type="button" class="close" data-dismiss="modal">
	      		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	      	</button>
	       	<img src="" class="imagepreview" style="width: 100%">
	    </div>
	  </div>
	</div>

	<script type="text/javascript" src="../script/gallery.js"></script>

</body>
</html>