<!DOCTYPE html>
<html>
<head>
	<title>Koto Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../style/templeStyle.css">
    <link rel="stylesheet" type="text/css" href="../style/menuStyle.css">
</head>
<body>

	<div id="logo">
      <img src="../images/png/logo_page_1.png" />
  </div>

	<div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center" >
              <li class="presentation"><a href="../index.html">Home</a></li>
              <li class="presentation"><a href="OrderOnline.html">Order Online</a></li>
              <li class="presentation"><a href="Gallery.html">Gallery</a></li>
              <li class="presentation"><a href="Contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>  
    </div>

    <div id="menuImg" class="container">
    	<img src="../Menu/menu-1.png">
    	<img src="../Menu/menu-2.png">
    	<img src="../Menu/menu-3.png">
    	<img src="../Menu/menu-4.png">
    	<img src="../Menu/menu-5.png">
    	<img src="../Menu/menu-6.png">
    	<img src="../Menu/menu-7.png">
    	<img src="../Menu/menu-8.png">
    </div>

    <footer>
      <div class="container">
        <h4>All Rights Reserved, Tim Lin</h4>
      </div>
    </footer>
    
</body>
</html>