<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <!-- <li>Add A button which says 'Display Details'</li> -->
        <!-- <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li> -->
        <!-- <li>Toggle the displaying of that paragraph with the button created in the first step</li> -->
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <button class="btn btn-primary" (click)="toggle()">Display Details</button>
  <p *ngIf="display">Secret Password = Tuna</p>
  <hr>
<!--   <span 
    *ngFor="let count of clickArr"
    [ngStyle]="{backgroundColor:count >= 5 ? 'blue' : 'transparent'}"
    [ngClass]="{white:count >= 5}">{{ count }} </span> -->

   <div 
    *ngFor="let count of clickArr; let i = index"
    [ngStyle]="{backgroundColor:i >= 4 ? 'blue' : 'transparent'}"
    [ngClass]="{white:i >= 4}">{{ count }} </div>
</div>

