<div class="pages-header">
	<h1>User Registration</h1>
</div>

<form name="regForm"  ng-submit="register.regUser(regData, regForm.$valid);" novalidate>
	
	<div ng-class="{'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error': (!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.$submitted)}">
		<label>Name:</label>
		<input class="form-control" type="text" name="name" placeholder="Fullname" ng-model='register.regData.name' ng-pattern="/^(([a-zA-Z]{3,20})+[ ]+([a-zA-Z]{3,20})+)+$/" ng-minlength="3" ng-maxlength="20" required><br>
		<p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)">this field is required</p>
		<ul ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength)" class="help-block">
			<li>Must have Space between Firstname and Lastname</li>
			<li>Must not contain any special character</li>
			<li>Must not contain any numbers</li>
			<li>Must be at least 3 characters but not more than 20 characters</li>
		</ul>
	</div>


	<div ng-class="{'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'has-error': (!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) || register.emailInvalid}">
		<label>Email:</label>																														<!-- ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" -->
		<input class="form-control" type="text" name="email" placeholder="Email" ng-model='register.regData.email' ng-minlength="3" ng-maxlength="25" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-blur="register.checkEmail(regData);" required><br>
		<p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">this field is required</p>
		<span ng-show="register.checkingEmail" class="glyphicon glyphicon-repeat"></span><p class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{register.emailMsg}}</p>
		<ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)" class="help-block">
			<li>Must contain '@'</li>
			<li>must betweeb 3 to 25 characters</li>
		</ul>
	</div>



	<div ng-class="{'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid), 'has-error': (!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid}">
		<label>Username:</label>
		<input class="form-control" type="text" name="username" placeholder="Username" ng-model='register.regData.username' ng-minlength="3" ng-maxlength="25" ng-pattern='/^[a-zA-Z0-9]{3,25}$/' ng-blur="register.checkUsername(regData);" required><br>
		<p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">this field is required</p>
		<span ng-show="register.checkingUsername" class="glyphicon glyphicon-repeat"></span><p class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{register.usernameMsg}}</p>
		<ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)" class="help-block">
			<li>Must betweeb 3 to 25 characters</li>
			
		</ul>
	</div>


	<div ng-class="{'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error': (!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted)}">
		<label>Password:</label>
			<input class="form-control" type="password" name="firstPassword" placeholder="Password" ng-model='firstPassword' ng-minlength="8" ng-maxlength="30" ng-pattern='/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,30}$/' required><br>
		<p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">this field is required</p> 
		
		<ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
			<li>Must betweeb 8 to 30 characters</li>
			<li>Must contains one uppercase letter</li>
			<li>Must contains one lowercase letter</li>
			<li>Must contains one number</li>
			<li>Must contains one special characters</li>
		</ul>
	</div>


	<div ng-class="{'has-success': confirmed && !regForm.confirmPassword.$error.required, 'has-error': (!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required)}">
		<label>Confirm Password:</label>
			<input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password"  match="{{[firstPassword]}}"  ng-change ="register.regData.password = confirm" ng-model='confirm' required><br>
		<p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">this field is required</p>
		<p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Password Not Match</p>
		
	</div>





	<button class="btn btn-primary" type="submit">Register</button>
</form>



<br>
<div class="jumbotron text-center" ng-show="register.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>


<br>
<div class="row show-hide-message" ng-show="register.successMessage">
	<div class="alert alert-success">{{register.successMessage}}</div>
</div>

<br>
<div class="row show-hide-message" ng-show="register.errorMessage">
	<div class="alert alert-danger">{{register.errorMessage}}</div>
</div>


