<div class="page-header">

	      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">

		 <h1 style="text-align: center;" >Authentication Server</h1>

	      <p>Create a web application that securely authenticates people with a username and password.</p>

	      <h3>Minimum Requirements</h3>
	      <ul>
	      	<li>Back-End MongoDB support</li>
	        <li>Create JWT (JSON WEB TOKEN) when user login, and auto pick up JWT when loading or refresh page</li>
	        <li>Destroy JWT when user logout</li>
	        <li>Date validate check on front-end and back-end</li>
	        <li>User email confirmation after account register and activate account</li>
	      </ul>
      </div>


	<h1>About me</h1>
	<ul>
		<li>xinghualin12@gmail.com</li>
	</ul>
</div>