<div class="page-header">

	      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">

		 <h1 style="text-align: center;" >Authentication Server</h1>

	      <p>Create a web application that securely authenticates people with a username and password.
	      <br>The server should then establish an active session with the client by returning a cookie.</p>

	      <h3>Minimum Requirements</h3>
	      <ul>
	        <li>Establishes an active session through the use of cookies upon successful login</li>
	        <li>Returns a JWT (JSON Web Token) in the response</li>
	        <li>Provides a way to validate the JWT on server</li>
	        <li>Provides a way to logout in order to destroy the cookie and session</li>
	      </ul>

	      <h3>Bonus Points</h3>
	      <ul>
	        <li>Implement two-factor authentication</li>
	        <li>Store user information in a self contained database (e.g. SQLite, LevelDB, etc.)</li>
	        <li>User account creation</li>
	        <li>A client web page that uses the authentication service</li>
	        <li>Full unit tests</li>
	      </ul>
      </div>


	<h1>About me</h1>
	<ul>
		<li>XingHua Lin</li>
		<li>718-207-1718</li>
		<li>xinghualin12@gmail.com</li>
	</ul>
</div>