body{
	background: #232323;
}

.square{
	
    width: 30%;
    padding-bottom: 30%;
    background-color: "#232323";
    float:left;
    margin: 1.66%;
}

#container{
	margin: 0 auto;
	max-width: 600px;
}

.center{
	text-align: center;
	color: white;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

#message {
	color: black;
}


/*h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: white;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}*/

h1{
	color: white;
	text-align: center;
}


.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}